:global( .nav-Link ){
    color:var( --main-color) ! important;
    text-decoration: none;
    margin: 0 6px;
}

:global(.active ){
    color:rgb(51, 203, 51) ! important;
    text-decoration: none;
    margin: 0 6px;
    
}
