@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;300&family=Encode+Sans:wght@100;200;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,300;0,500;0,800;1,100&display=swap');
:root{
  --main-color:#08ac0a,
  
}

.maincolor{
  color: var(--main-color);
}
body{
  font-family: 'Encode Sans', sans-serif;
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.cursorPointer{
  cursor: pointer;
}
.adding  button{
 transform: translateY(150%);
  transition: all .8s;
  cursor: pointer; 
    background-color: var(--main-color);
}
.redColor{
  color:red
}
.pointer{
  cursor: pointer;
}
.item{
  overflow: hidden;
  transition: all .9s ;
  
}
.fa-heart{
  cursor: pointer;
}
 .item:hover   button {
  transform: translateY(0);
}
.item:hover{
  border: 1px solid var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainbgColor{
  background-color: var(--main-color);
}
.fa-star{
  color: gold;
}
.forgetPass{
  color: black;
}
.forgetPass:hover{
color: rgb(51, 203, 51) !important;
}
.bg-main{
  background-color: var(--main-color);
}